    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
	padding: 0;
}

#container{
    max-width: 992px;
	margin: auto;
}

header{
    display: flex;
    margin-top: 25px;
}

.desc{
    margin-left: 10px;
}

.logo{
	width: 110px;
}

header figure{
	width: 815px;
	margin-left: 10px;
}

header .nav{
    display: flex;
	justify-content: space-around;
	align-items: center;
}

a{
    text-decoration: none;
	order: 1;
}

header ul{
    list-style: none;
	margin-top: -25px;
    display: flex;
}

header li{
	padding-top: 30px;
	margin-right: 30px;
}

.hebergements2{
    color: #0065FC;
}

li:hover{
	border-top: solid #0065FC 2px;
}

.activites{
	color: black;
}

h1{
	margin-left: 10px;
}

header p{
	padding-top: 15px;
	margin-left: 10px;
}

p{
    margin: 0;
}

.filtres{
    width: 100%;
	display:flex;
    margin-top: 18px;
    margin-bottom: 10px;
    align-items: center;
}

.paragraphe p{
    display: flex;
    margin-left: 10px;
	padding-top: 5px;
}

.paragraphe{
    padding-bottom: 20px;
    padding-top: 10px;
	display: inline-flex;
}

h2{
    color: black;
	margin-left: 10px;
}

.filtres a li{
    text-decoration: none;
    list-style: none;
    color: #0065FC;
}

#fonction_filtres :hover{
    background-color: #DEEBFF;
}

.filtres li{
    border: solid lightgrey 2px;
}

.arrondi{
    border: solid #F7F7F7 1px;
    width: 30px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    margin-top: 7px;
}

form{
    display: flex;
    margin-top: 10px;
}

.fa-search{
    opacity: 0;
}

.maps{
    background: #F2F2F2;
    padding: 10px;
    text-align: center;
    border:transparent;
}

.contour{
    border: transparent;
    width: 260px;
    padding-left: 15px;
    height: 35px;
    align-self: center;
    margin-top: 10px;
}

::placeholder{
    color: rgb(40, 40, 40);
    font-weight: bold;
	font-size: 1.3em;
	width: 200px;
}

.btn{
    background: #0065FC;
    text-align: center;
    color: white;
    border: transparent;
    height: 35px;
    align-items: center;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    padding-left: 15px;
}

.marge{
    margin-top: 7px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#fonction_filtres{
	display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
	padding-left: 30px;
}

#fonction_filtres li{
    padding-right: 2.0em;
    border-radius: 100px;
    display: flex;
    margin-right: 20px;
}

.cercle{
    background: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 1px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.blanc{
    color: #0065FC;
    text-align: center;
}
/*BLOC GAUCHE*/

.hebergement{
    display: flex;
	justify-content: space-evenly;
}

.hebergements{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    max-width: 992px;
    width: 690px;
}

#hebergements_marseille{
    background: #F2F2F2;
    border-radius: 30px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    width: 615px;
    max-width: 925px;
    margin-bottom: 20px;
	height: 565px;
}

#hebergements_marseille h2{
    margin-left: 10px;
    margin-top: 30px;
}

h2{
    margin: 10px;
}

.hebergements figure{
    box-shadow: 0 0 20px #0000002e;
    background: white;
    border-radius: 20px;
    width: 225px;
    height: 155px;
    margin: 30px 15px 15px 0;
    padding: 5px;
    padding-bottom: 30px;
    overflow: hidden;    box-shadow: 0 0 20px #0000002e;
    background: white;
    border-radius: 20px;
    width: 170px;
    height: 155px;
    margin: 30px 30px 20px 0;
    padding: 5px;
    padding-bottom: 30px;
    overflow: hidden;
}

.hebergements figure img{
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 130px;
    object-fit: cover;
}

.hebergements figcaption{
    margin-top: -30px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    width: 160px;
    background: white;
    padding: 10px;
    margin-left: -5px;
}

figcaption p{
    margin: 4px 0 5px 0px;
	font-size: 14px;
}

h3, p{
    color: rgb(40, 40, 40);
	font-size: 14px;
}

.afficher{
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.grise{
    color: lightgrey;
}

.etoiles{
    color: #0065FC
}

/*BLOC DROIT*/

.etoiles, .etoiles2{
    color: #0065FC;
}

.alignement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignement h2{
    margin-left: 25px;
}

.alignement i{
    margin-right: 23px;
    font-size: large;
}

#populaires{
    background: #F2F2F2;
    border-radius: 30px;
    margin-left: 15px;
    padding-top: 10px;
    padding-left: 15px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.droite h3{
    margin: 0;
    padding: 0;
}

.droite figure{
    box-shadow: 0 0 20px #0000002e;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 325px;
    margin: 18px 25px 33px;
    height: 125px;
}

.droite figure img{
    justify-content: space-around;
    border-radius: 20px 0px 0px 20px;
    width: 155px;
    height: 115px;
    object-fit: cover;
    padding: 5px 0px 5px 5px;
}

.droite figcaption{
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.droite .etoiles{
    padding-top: 30px;
}

.droite .etoiles2{
    padding-top: 30px;
}

/*ACTIVITES*/

#activites{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#activites article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-left: -15px;
}

#activites h2{
    margin-top: 50px;
    inline-size: -webkit-fill-available;
}

#activites h3{
    margin-left: 10px;
    padding-top: 10px;
}

#activites figcaption{
    height: 42px;
	width: 225px;
}

.marseille1{
    border-radius: 20px;
    width: 225px;
    height: 390px;
    margin: 0 0 20px 20px;
}

article figure{
    box-shadow: 0 0 20px #0000002e;
    padding-bottom: 32px;
}

.marseille1 h3{
    padding-top: 3px;
}

.marseille1 figure img, .marseille1 img{
    border-radius: 20px 20px 0px 0px;
    width: 225px;
    height: 150px;
    object-fit: cover;
}
.marseille1 img{
    height: 95%;
    width: 225px;
}
.imagesmarseille1 {
    margin-bottom: 21px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    padding-bottom: 5px;
	width: 225px;
}

/*FOOTER*/

footer{
    display: flex;
    background: #F2F2F2;
    margin-top: -10px;
}

footer p{
    margin: 23px 0px -10px 0px;
}

.fin, .fin1{
    width: 265px;
    max-width: 350px;
    margin: 50px;
}

.fin h3, .fin1 h3{
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) and (min-width: 320px)
{
	h1{
		font-size: 22px;
		max-width: 360px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	header{
		flex-direction: column;
	}
	
	header figure{
		width: auto;
		align-self: center;
	}
	
	header ul{
		margin-bottom: 15px;
	}
	
	nav{
		align-self: center;
	}
	
	.marge{
		margin-left: 10px;
	}
	
	strong{
		display: none;
	}
	
	.filtres{
		display: block;
	}
	
	.arrondi{
		margin-left: 10px;
	}

	.contour{
		width: 200px;
	}
	
	.btn{
		padding-left: 10px;
		border-radius: 10px;
	}
	
	.paragraphe{
		max-width: 410px;
	}
	
	.fa-search{
		opacity: 1;
		padding: 10px 15px 10px 0;
	}
	
	#fonction_filtres{
		padding-left: 0;
	}
	
	#fonction_filtres li{
		margin: 10px 10px -5px 0;
	}
	
	.marge{
		margin-left: 0;
	}
	
	#populaires{
		width: 115%;
		max-width: 370px;
	}
	
	.hebergement{
		flex-direction: column-reverse;
	}
	
	.hebergements{
		width: 115%;
		max-width: 370px;
	}
	
	.hebergements figure{
		width: 100%;
		max-width: 350px;
	}
	
	.hebergements figure img{
		width: 100%;
		max-width: 350px;
	}
	
	.hebergements figure figcaption{
		width: 100%;
		max-width: 318px;
	}
	
	#hebergements_marseille{
		width: 115%;
		height: auto;
		max-width: 370px;
		margin-left: 10px;
	}
	
	footer{
		display: contents;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px)
{
	
}