*{
    font-family: 'Raleway';
    margin: auto;
}

#container{
    max-width: 1280px;
}

header{
    display: flex;
    margin-top: 25px;
}

header figure{
    margin-left: 10px;
}

nav{
    display: flex;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}

.hebergements2, .inscription{
    color: #0065FC;
}

.activites{
    color: black;
}

/*FOOTER*/

footer{
    display: flex;
    background: grey;
    height: 200px;
}

.fin, .fin1{
    margin: 20px;
}

.fin h3, .fin1 h3{
    margin-bottom: 10px;
}