*{
    font-family: Raleway;
    margin: 0;
	padding: 0;
}

#container{
    max-width: 1280px;
	margin: auto;
}

header{
    display: flex;
	flex-wrap: wrap;
    margin-top: 25px;
}

.logo{
	width: 110px;
}

header figure{
	width: 1035px;
	margin-left: 10px;
}

header .nav{
    display: flex;
	justify-content: space-around;
	align-items: center;
}

a{
    text-decoration: none;
	order: 1;
}

header ul{
    list-style: none;
	margin-top: -25px;
    display: flex;
}

header li{
	padding-top: 30px;
	margin-right: 30px;
}

.hebergements2{
    color: #0065FC;
}

li:hover{
	border-top: solid #0065FC 2px;
}

.activites{
	color: black;
}

h1{
	margin-left: 10px;
}

p{
	padding-top: 15px;
	margin-left: 10px;
}

.filtres{
    width: 100%;
	display:flex;
    margin-top: 18px;
    margin-bottom: 10px;
    align-items: center;
}

.paragraphe p{
    display: flex;
    margin-left: 10px;
	padding-top: 5px;
}

.paragraphe{
    padding-bottom: 20px;
    padding-top: 10px;
	display: inline-flex;
}

h2{
    color: black;
	margin-left: 10px;
}

.filtres a li{
    text-decoration: none;
    list-style: none;
    color: #0065FC;
}

#fonction_filtres :hover{
    background-color: #DEEBFF;
}

.filtres li{
    border: solid #F2F2F2 2px;
}

.arrondi{
    border: solid #F2F2F2 1px;
    width: 285px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.rechercher{
    display: inline-flex;
	margin-left: 10px;
    background: #F2F2F2;
    border: transparent;
	width: 375px;
	height: 43px;
}

.btn .fa-search{
    display: none;
}

.maps{
    background: #F2F2F2;
    padding: 10px;
    text-align: center;
    border:transparent;
}

.contour{
    border:transparent;
	width: 260px;
}

::placeholder{
    color: rgb(40, 40, 40);
    font-weight: bold;
	font-size: 1.3em;
	width: 200px;
}

.btn{
    background: #0065FC;
    text-align: center;
    color: white;
    border: transparent;
    width: 95px;
}

.marge{
    margin-top: 7px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#fonction_filtres{
	display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
	padding-left: 30px;
}

#fonction_filtres li{
    padding-right: 2.0em;
    border-radius: 100px;
    display: flex;
    margin-right: 20px;
}

.cercle{
    background: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 1px;
    border-radius: 50%;
    text-align: center;
}

.blanc{
    color: #0065FC;
    text-align: center;
}
/*FOOTER*/

footer{
    display: flex;
	flex-wrap: wrap;
    background: #F2F2F2;
}

.fin, .fin1{
	width: 200px;
	max-width: 300px;
    margin: 20px;
}

.fin h3, .fin1 h3{
    margin-bottom: 10px;
}