*{
    font-family: 'Raleway';
    margin: 0;
	padding: 0;
}

#container{
    max-width: 1280px;
	margin: auto;
}

header{
    display: flex;
	flex-wrap: wrap;
}

header figure{
	width: 830px;
    margin-left: 10px;
    max-width: 1280px;
    padding-top: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    margin-left: -10px;
}

ul{
    list-style: none;
    display: flex;
    padding: 2rem;
}

li{
	margin-right: 80px;
}

.hebergements2, .inscription{
    color: #0065FC;
}

.activites{
    color: darkslategray;
}

ul :hover{
    color: #0065FC;
}

/*FOOTER*/

footer{
    display: flex;
	flex-wrap: wrap;
    background: #F2F2F2;
}

.fin, .fin1{
	width: 325px;
	max-width: 400px;
    margin: 20px;
}

.fin p, .fin1 p{
    margin-top: 10px;
    color: darkslategray;
}

.fin h3, .fin1 h3{
    margin-bottom: 30px;
}