*{
    font-family: 'Raleway';
    margin: 0;
	padding: 0;
}

#container{
    max-width: 1280px;
	margin: auto;
}

header{
    display: flex;
	flex-wrap: wrap;
    margin-top: 25px;
}

header figure{
	width: 350px;
	margin-left: 10px;
	max-width: 400px;
}

nav{
    display: flex;
	width: 500px;
}

a{
    text-decoration: none;
	order: 1;
}

ul{
    list-style: none;
    display: flex;
}

li{
	margin-right: 20px;
}

.hebergements2, .inscription{
    color: #0065FC;
}

.activites{
    color: black;
}

/*FOOTER*/

footer{
    display: flex;
	flex-wrap: wrap;
    background: #F2F2F2;
}

.fin, .fin1{
	width: 200px;
	max-width: 300px;
    margin: 20px;
}

.fin h3, .fin1 h3{
    margin-bottom: 10px;
}