*{
    font-family: 'Raleway';
    margin: auto;
}

#container{
    max-width: 1280px;
}

header{
    display: flex;
	flex-wrap: wrap;
    margin-top: 25px;
}

header figure{
    margin-left: 10px;
}

nav{
    display: flex;
    max-width: 110px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
}

li{
	width: 120px;
    max-width: 300px;
}

.hebergements2, .inscription{
    color: #0065FC;
}

.activites{
    color: black;
}

/*FOOTER*/

footer{
    display: flex;
	flex-wrap: wrap;
    background: #F2F2F2;
}

.fin, .fin1{
	width: 200px;
	max-width: 300px;
    margin: 20px;
}

.fin h3, .fin1 h3{
    margin-bottom: 10px;
}