*{
    font-family: "Raleway";
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header, main{
    margin-left: 20px;
    margin-right: 20px;
}

/*******************CORPS DE PAGE************************/

.navbar, .filtres, #fonction_filtres, .paragraphe, nav, header, ul{
    display: flex;
}

/*******************TÊTE DE PAGE************************/

#container{
    width: 100%;
    max-width: 1280px;
    min-width: 768px;
    margin: auto;
}

h1{
    font-size: x-large;
}

h2{
    font-size: large;
}

/*******************TRAITEMENT DE LA NAV************************/

nav{
    align-items: center;
  }
  
header nav a{
    padding: 1rem 1.8%;
    text-decoration: none;
    margin-left: 50px;
}

header nav ul a:hover{
    border-top: solid #0065FC;
    padding-bottom: 10px;
}

header figure{
    margin-right: 60%;
}

.hebergements2{
    color: #0065FC;
}

.activites{
    color: rgb(40, 40, 40);
}

.inscription{
    color: #0065FC;
}

/*******************TRAITEMENT DES FILTRES ET LOGOS************************/

.filtres{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.paragraphe p{
    display: flex;
    margin: 3px;
}

.paragraphe{
    padding-bottom: 20px;
    padding-top: 10px;
}

.filtres h2{
    color: black;
}

.filtres a li{
    text-decoration: none;
    list-style: none;
    color: #0065FC;
}

#fonction_filtres :hover{
    background-color: #DEEBFF;
}

.filtres li{
    border: solid #F2F2F2 2px;
}

.arrondi{
    border: solid #F2F2F2 1px;
    width: 285px;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.rechercher{
    display: inline-flex;
    background: #F2F2F2;
    border: transparent;
}

.btn .fa-search{
    display: none;
}

.maps{
    background: #F2F2F2;
    padding: 10px;
    text-align: center;
    border:transparent;
}

.contour{
    border:transparent;
}

::placeholder{
    color: rgb(40, 40, 40);
    font-weight: bold;
}

.btn{
    background: #0065FC;
    text-align: center;
    color: white;
    border: transparent;
    width:108px;
}

.marge{
    margin-top: 7px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

#fonction_filtres{
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}

#fonction_filtres li{
    font-size: 1.0em;
    padding-right: 2.0em;
    border-radius: 100px;
    display: flex;
    margin-right: 20px;
}

.cercle{
    background: #DEEBFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 1px;
    border-radius: 50%;
    text-align: center;
}

.grise{
    color: #F2F2F2;
}

.blanc{
    color: #0065FC;
    text-align: center;
}

/*******************PARTIE DE GAUCHE CONCERNANT LES HEBERGEMENTS************************/

.hebergement{
    display: flex;
}

.hebergements{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -20px;
}

#hebergements_marseille{
    background: #F2F2F2;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#hebergements_marseille h2{
    padding: 10px;
}

h2{
    margin: 10px;
}

.hebergements figure{
    box-shadow: 0 0 20px #0000002e;
    background: white;
    border-radius: 20px;
    width: 200px;
    height: 130px;
    margin: 30px 15px 50px 10px;
    padding: 5px;
    overflow: hidden;
}

.hebergements figure img{
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.hebergements figcaption{
    font: -webkit-control;
    margin-top: -30px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    width: 190px;
    background: white;
    padding: 10px;
    margin-left: -5px;
}

h3, p{
    color: rgb(40, 40, 40);
}

.afficher{
    margin-left: 25px;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 30px;
}

/*******************PARTIE DE DROITE CONCERNANT LES LOGEMENTS POPULAIRES************************/

.alignement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignement i{
    margin-right: 23px;
    font-size: large;
}

#populaires{
    background: #F2F2F2;
    border-radius: 30px;
    margin-left: 30px;
    padding: 15px;
    margin-right: 0px;
}

.droite h3{
    margin: 0;
    padding: 0;
}

.droite figure{
    box-shadow: 0 0 20px #0000002e;
    background: white;
    border-radius: 20px;
    display: flex;
    width: 415px;
    margin: 20px;
    padding: 5px;
}

.droite figure img{
    justify-content: space-around;
    border-radius: 20px 0px 0px 20px;
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.droite figcaption{
    margin: 10px;
    font: -webkit-control;
    justify-content: space-between;
    align-items: center;
}

.etoiles, .etoiles2{
    color: #0065FC;
}

.droite .etoiles{
    padding-top: 80px;
}

.droite .etoiles2{
    padding-top: 60px;
}

/*******************ACTIVITES A MARSEILLE****************/

#activites{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font: -webkit-control;
    margin-bottom: 50px;
}

#activites article{
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    width: 100%;
}

#activites h2{
    margin-top: 50px;
    inline-size: -webkit-fill-available;
}

#activites h3{
    margin-left: 10px;
}

#activites figcaption{
    padding-top: 5px;
    padding-bottom: 5px;
}

.marseille1{
    border-radius: 20px;
    width: 250px;
    height: 375px;
	margin : 0 0 20px 20px;
}

article figure{
    box-shadow: 0 0 20px #0000002e;
    padding-bottom: 32px;
}

.marseille1 h3{
    padding-top: 3px;
}

.marseille1 figcaption{
    font: -webkit-control;
}

.marseille1 figure img, .marseille1 img{
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 156px;
    object-fit: cover;
}
.marseille1 img{
    height: 98%;
}
.imagesmarseille1 {
    margin-bottom: 21px;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    padding-bottom: 5px;
}

/*******************PIED DE PAGE************************/

footer{
    background: #F2F2F2;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fin{
    padding-left: 15px;
}

.fin1{
    padding-left: 17%;
}

.fin h3{
    padding-bottom: 15px;
}

.fin1 h3{
    padding-bottom: 15px;
}

.fin p{
    padding-bottom: 10px;
}

.fin1 p{
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px)
{
	#container {
		min-width:660px;
	}

    header, main{
        margin-left: 20px;
        margin-right: 0;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
    }

    .navbar figure{
        margin: 0%;
    }

    header nav ul{
        order: 2;
    }

    h1{
        margin-top: 50px;
        font-size: 2.1em;
    }

    p{
        font-size: 1.7em;
    }

    .arrondi{
        width: 90%;
        margin-top: 50px;
    }

    .arrondi .maps{
        font-size: 2em;
    }

    .arrondi .fa-search{
        font-size: 2em;
    }

    .btn{
        width: 110px;
    }

    .btn strong{
        display: none;
    }

    .btn .fa-search{
        display: block;
    }

    header nav ul a{
        padding: 1rem;
        margin: 0;
        margin-right: 230px;
    }

    header nav ul li{
        border-bottom: solid #F2F2F2 3px;
    }

    header nav ul a:hover{
        border-top: none;
        border-bottom: solid #0065FC;
        padding-bottom: 10px;
    }

    header figure{
        margin-right: 0;
        height: 10%;
    }

    .inscription{
        order: 1;
        margin-left: 60%;
        font-size: 2em;
    }

    .contour{
        width: 100%;
        font-size: 3em;
    }

    #fonction_filtres li{
        margin-top: 15px;
        font-size: 2em;
    }

    .information{
        width: 30px;
        height: 20px;
    }

    h2{
        font-size: 1.9em;
    }

    h3{
        font-size: 2em;
    }

    .hebergements2, .activites{
    padding-bottom: 10px;
    border-top: transparent;
    font-size: 2em;
    margin: auto;
    }

    .hebergements2 a:hover{
    border-bottom: solid #0065FC;
    padding-bottom: 10px;
    border-top: transparent;
    }

    .hebergement{
        flex-direction: column-reverse;
        width: 100%;
    }

    .hebergements figure{
        width: 88%;
        height: 100%;
        margin-bottom: 10%;
    }

    .hebergements figure img{
        width: 100%;
    }

    .hebergements figcaption{
        padding: 10px 15px 10px 40px;
        margin-top: -15px;
        display: contents;
    }

    #hebergements_marseille{
        margin-top: 30px;
        margin-left: 0;
        width: 95%;
    }

    #populaires{
        margin-left: 0;
        width: 92%;
    }

    .droite figure{
        width: 90%;
        margin-top: 5%;
    }

    .droite .etoiles{
        padding-top: 45px;
        font-size: 1.7em;
    }

    .droite .etoiles2{
        padding-top: 20px;
        font-size: 1.7em;
    }

    #hebergements_marseille .etoiles{
        padding-top: 20px;
        font-size: 1.7em;
    }

    #hebergements_marseille .etoiles2{
        padding-top: 20px;
        font-size: 1.7em;
    }

    .afficher{
        margin-bottom: 20px;
        font-size: 2.5em;
    }
	
	.marseille1 {
		margin: 20px;
		width:100%;
		height:156px;
	}
	
	.marseille1 figure img, .marseille1 img{
    		width: 100%;
	}
	
	.marseille1 .VP{
		margin-top: -10px;
	}
	
	.marseille1 .PNC{
		margin-top: -10px;
	}
	
	.marseille2 {
		margin-top:280px;
	}

    footer{
        flex-direction: column;
        padding: 1rem;
        margin-left: 0;
	    margin-top: 320px;
    }

    .fin1{
        flex-direction: column;
        padding-left: 15px;
        padding-top: 25px;
    }
}
